<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Styles.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body class="vh-100">
    <div id="firstContainer">
        @RenderBody()
    </div>
</body>
</html>